$primary: #6FB83B;
$secondary: #FBAA37;
$invisalign-light: #00ADEF;
$invisalign-dark: #0066AB;
$body: #FEF5ED;
.bg-gray {
  background: $body;
}
.border {
  background: white;
  padding: 10px;
}
body {
  font-family: 'Open Sans', sans-serif;
  margin-top: 109px;
}
.form-control, .btn {
  border-radius: 0;
}
#map {
  height: 200px;
}

.bg-primary {
  background: $primary!important;
}

.bg-secondary {
  background: $secondary!important;
}

.overlay-solid {
  position: relative;
}

.overlay-solid::before {
  display: block;
  content: " ";
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  position: absolute;
}

.leaf li {
  background: url("../images/leaf-2.png") 0 2px no-repeat;
  line-height: 1.1;
  margin: 0 0 8px;
  padding: 0 0 0 20px;
  list-style: none;
}

.form {
  width: 400px;
  text-align: left;
  margin: 0 auto;
}

.header {
  background-image: url("../images/header.jpg");
  background-size: cover;
  height: 16.45vw;
  overflow: hidden;
}

.form-header {
  position: relative;
  background: $body;
  padding: 3rem;
}

.btn-danger {
  color: #fff;
  background-color: rgba(225, 75, 45, 1);
  border-color: rgba(225, 75, 45, 1);
  box-shadow: 0 2px 8px rgba(225, 75, 45, .4);
}

.btn-danger:focus,
.btn-danger:hover {
  color: #fff;
  background-color: rgba(225, 75, 45, .8);
  border-color: rgba(225, 75, 45, .8);
}

.shadow {
  box-shadow: 0 2px 12px 0 rgba(0,0,0,0.05), 0 0 35px 0 rgba(0,0,0,.05), 0 30px 100px -40px rgba(0,0,0,.15);
}

.inner-center {
  max-width: 720px;

  li,
  p {
    font-size: 1.1rem;
  }

  p,
  ul {
    margin-bottom: 1rem;
  }
}

.logos img {
  max-height: 100px;
  padding: 15px;
  filter: grayscale(100%);
  transition: .4s;
}

.logos img:hover {
  filter: grayscale(0%);
}
